$primaryLight: #ffddb8;
$primary: #e9c4a0;
$primaryDark: #d9b592;
$secondary: #b9ddff;
$secondaryDark: #96badf;
$background: #f8f9fa;
$onBackground: rgba(0, 0, 0, 0.87);
$surface: #fff;
$onSurface: rgba(0, 0, 0, 0.87);
$error: #b00020;
$onError: #fff;
$success: #00796b;
$onSuccess: #fff;
$warning: #ffa000;
$onWarning: rgba(0, 0, 0, 0.87);
$info: #2196f3;
$onInfo: #fff;
$textHighEmphasis: rgba(0, 0, 0, 0.87);
$textMediumEmphasis: rgba(0, 0, 0, 0.6);
$textDisabled: rgba(0, 0, 0, 0.38);
$divider: rgba(0, 0, 0, 0.12);
$elevation0Dp: none;
$elevation1Dp: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
0px 1px 1px 0px rgba(0, 0, 0, 0.24);
$elevation2Dp: 0px 1px 5px 0px rgba(0, 0, 0, 0.12),
0px 2px 2px 0px rgba(0, 0, 0, 0.24);
$elevation3Dp: 0px 1px 8px 0px rgba(0, 0, 0, 0.12),
0px 3px 4px 0px rgba(0, 0, 0, 0.24);
$elevation4Dp: 0px 2px 4px -1px rgba(0, 0, 0, 0.12),
0px 4px;
$white: #fff;
$black: #000;